
### Added by Zinit's installer
if [[ ! -f $HOME/.zinit/bin/zinit.zsh ]]; then
    print -P "%F{33}▓▒░ %F{220}Installing %F{33}DHARMA%F{220} Initiative Plugin Manager (%F{33}zdharma/zinit%F{220})…%f"
    command mkdir -p "$HOME/.zinit" && command chmod g-rwX "$HOME/.zinit"
    command git clone https://github.com/zdharma/zinit "$HOME/.zinit/bin" && \
        print -P "%F{33}▓▒░ %F{34}Installation successful.%f%b" || \
        print -P "%F{160}▓▒░ The clone has failed.%f%b"
fi

source "$HOME/.zinit/bin/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zinit-zsh/z-a-patch-dl \
    zinit-zsh/z-a-as-monitor \
    zinit-zsh/z-a-bin-gem-node

### End of Zinit's installer chunk

# Load the pure theme, with zsh-async library that's bundled with it.
zinit ice pick"async.zsh" src"pure.zsh"
zinit light sindresorhus/pure

# Oh My Zsh has excellent configs for key bindings and history.
zinit light-mode for \
	OMZ::lib/key-bindings.zsh \
	OMZ::lib/history.zsh \
	OMZ::lib/completion.zsh

# Two regular plugins and a completions pkg loaded without investigating.
zinit wait lucid for \
	atinit"ZINIT[COMPINIT_OPTS]=-C; zicompinit; zicdreplay" zdharma/fast-syntax-highlighting \
	atload"!_zsh_autosuggest_start" zsh-users/zsh-autosuggestions \
	blockf zsh-users/zsh-completions \
	OMZ::plugins/colored-man-pages/colored-man-pages.plugin.zsh

# Load a few useful binaries from Github releases.
zinit as"null" wait"2" lucid from"gh-r" for \
	mv"exa* -> exa" sbin ogham/exa \
	sbin"fzf" junegunn/fzf-bin \
	mv"ripgrep* -> ripgrep" sbin"ripgrep/rg" BurntSushi/ripgrep \
	mv"fd* -> fd" sbin"fd/fd" @sharkdp/fd \
	mv"bat* -> bat" sbin"bat/bat" @sharkdp/bat

## Aliases
alias ls="exa" la="exa -a" ll="exa -lhG" lla="exa -lhaG" l.="exa -d .*" tree="exa --tree"
alias cat="bat"
alias find="fd"
alias grep="rg"

alias sudo="sudo "
alias vim="nvim"
alias reload="exec $SHELL -l -i"

# Exports
export EDITOR="nvim"
export VISUAL=$EDITOR

{{- if eq .chezmoi.hostname "hbollamredd-a01" }}

export PATH=$PATH:"/usr/local/opt/thrift@0.9/bin:$HOME/.local/bin"
export JAVA_HOME="/Library/Java/JavaVirtualMachines/zulu-8.jdk/Contents/Home"
{{- end }}
